header {
    background-color: rgb(0, 200, 255);
    height: 10vh; 
}

#headername{
    margin: 0vh;
    padding-left: 2vh;
    color: white;
    text-align: inherit;
    font-size: 8vh;
    cursor: context-menu;
}

.chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#main{
    margin: 2vh;
}

#uploadButton {
    background-color: rgb(0, 200, 255);
    border-radius: 25px;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    cursor: pointer;
}

#img {
    padding-top: 3vh;
    padding-bottom: 10vh;
}